<li>
  <div class="item checkbox">
    <label>
      <input type="checkbox" checked> <s><%= completed.description %></s>
      <span class="text-muted"><small><%= time_ago_in_words(completed.completed_at) %> ago</small></span>
    </label>
  </div>
</li>  
