<div class='items'>
  <div class='row'>
    <div class='col-md-8'>
      <% @items.each do |item| %>
        <%= render partial: 'incomplete', object: item %>
      <% end -%>
    </div>
    <div class='col-md-4'>
      <div class='completed'>
        <ul id='completed-list'>
          <% @recent_completed_items.each do |item| %>
            <%= render partial: 'completed', object: item %>
          <% end -%>
        </ul>
      </div>      
    </div>
  </div>
</div>
