@import "bootstrap_configuration";
.items {

  .item {
    padding: 3px 5px;
    &:hover {
      background-color: darken($body-bg, 5%);
    }
  }
  .username-container {
    margin-top: 8px;
  }

  h3 {
    margin: 0;
  }
  p {
    margin: 0;
  }
}

.completed {
  ul {
    padding: 0;
  }
  li {
    list-style-type: none;
    text-decoration: line-through;
  }
}